$background: #ffffff;
$background-negative: #101010;
$background-primary: #ff4332;
$background-secondary: #cccccc;
$background-tertiary: #eeeeee;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #101010;
$foreground-negative: #ffffff;
$foreground-primary: #ff4332;
$foreground-secondary: #101010;
$foreground-tertiary: #101010;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #101010;
