html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: fixed;
	overflow: hidden;
}

.app {
	width: 100%;
	height: 100%;
}

.ui {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui__head {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	z-index: 1;
}

.ui__body {
	position: absolute;
	width: 100%;
	height: 100%;

	background: #bdbdbd;
	/* Old browsers */
	background: linear-gradient(to bottom, #bdbdbd 1%, #ffffff 50%, #bdbdbd 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#bdbdbd',GradientType=0 ); /* IE6-9 */
}

.ui__foot {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	z-index: 3;

	.left,
	.right {
		flex: 0 1 200px;
	}

	.right {
		text-align: right;
	}

	.center {
		flex: 1 1 calc(100% - 240px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.ui__lock {
	position: absolute;
	width: 100%;
	height: 100%;
	border: $foreground-primary solid 5px;
	z-index: 2;

	&.control {
		pointer-events: none;
	}
}

.group--info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.info {
		margin: 15px;
		font-size: 15px;
		color: #101010;
	}
}

.group--controls {
	display: flex;
	justify-content: center;
	align-items: center;

	&>button+button {
		margin-left: 10px;
	}
}

.model-viewer {
	width: 100%;
	height: 100%;
}

.model-viewer__view {

	&,
	& canvas {
		width: 100vw;
		height: 100vh;
		outline: none;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.slider-container,
	.slider-inner,
	.slider-slide {
		height: 100%;
	}

	.slider-inner {
		display: flex;
	}

	.slider-slide {
		flex: 0 0 100vw;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;

		&>div {
			width: 80%;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.title {
			font-weight: 900;
			font-size: 80px;
			line-height: 1;
			color: white;
			text-shadow: 0 5px rgba(0, 0, 0, 0.5);
		}

		.abstract {
			font-size: 40px;
			line-height: 1;
			color: white;
			text-shadow: 0 5px rgba(0, 0, 0, 0.5);
		}

		.description {
			color: white;
			text-shadow: 0 5px rgba(0, 0, 0, 0.5);
		}

	}

}

.btn--connect {
	@extend %btn-rect;

	svg {
		fill: white;
		margin-right: 10px;
	}

	&.disabled {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			background: gray;
		}
	}
}

.video {
	border-radius: 12px;
	overflow: hidden;
	// background: white;
	background: transparent;
	border: 2px solid rgba(0, 153, 255, 0.4);

	&.playing {
		border-color: transparent;
	}
}

@mixin ratio($width, $ratio) {
	width: $width;
	height: $width / $ratio;
}

.video--local {
	@include ratio(120px, 4 / 3);
	margin-left: 200px;
}

.video--remote {
	@include ratio(320px, 4 / 3);
}

.group--local {
	display: flex;
	align-items: center;

	&.publisher {
		.video--local {
			margin-left: 20px;
		}
	}
}

.btn--control {
	@extend %btn-circle;
	margin-left: 140px;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		border: 2px solid rgba($foreground, 0.2);
		background: white;
		color: $foreground;

		svg {
			color: $foreground;
		}
	}

	&:hover {
		border: 2px solid rgba($foreground, 1.0);
	}

	&.active {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			border: 2px solid rgba($foreground-primary, 1.0);
			background: $foreground-primary;
			color: $foreground-negative;

			svg {
				fill: $foreground-negative;
			}
		}
	}
}

.btn--cam,
.btn--mic,
.btn--call {
	@extend %btn-circle;
}

.btn--call {

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		background: $foreground-primary;
		color: $foreground-negative;

		svg {
			fill: $foreground-negative;
		}
	}
}

.btn--heart {
	@extend %btn-reset;
	position: relative;
	line-height: 0;
	margin: 0 40px 0 0;
	padding: 0;

	svg {
		fill: #ff4332;
		width: 40px;
		height: 40px;
	}

	.badge {
		position: absolute;
		width: 20px;
		height: 20px;
		background: white;
		border-radius: 10px;
		font-weight: 900;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		right: -10px;
		bottom: 0;
		margin-top: -10px;
	}

	&.active {
		.badge {
			animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		}
	}

}

.btn--cam,
.btn--mic {
	&.disabled {
		display: none;
		pointer-events: none;
	}

	&.muted {
		opacity: 0.2;
	}
}

.video--local,
.video--remote {
	&.disabled {
		visibility: hidden;
	}
}

.btn--ar {
	@extend %btn-rect;
}

@keyframes flip-2-hor-top-1 {
	0% {
		transform: translateY(0) rotateX(0);
		transform-origin: 50% 0%;
	}

	100% {
		transform: translateY(0) rotateX(-360deg);
		transform-origin: 50% 100%;
	}
}

.title {
	font-weight: 900;
	font-size: 80px;
	line-height: 1;
}

.abstract {
	font-size: 40px;
	line-height: 1;
}

.control-request-modal,
.try-in-ar-modal {
	margin: 0;
	padding: 0;
	max-width: 450px;
	text-align: center;

	.form {
		.title {
			font-weight: 900;
			line-height: 1;
			font-size: 28px;
		}

		.group--cta {
			justify-content: space-around;
		}
	}
}

.try-in-ar-modal {
	.picture {
		display: flex;
		justify-content: center;
	}

	.qrcode {
		width: 256px;
		height: 256px;
	}
}

.btn--cancel,
.btn--accept {
	@extend %btn-rect;
}

.btn--close {
	@extend %btn-reset;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 20px;
		height: 20px;
	}
}

.progress {
	color: white;
	font-weight: 900;
	font-size: 70px;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

@include media-down(sm) {

	.ui__head {
		.video--remote {
			width: 160px;
			height: 120px;
			margin-right: 15px;
		}

		.group--select {
			width: calc(100% - 175px);

			.icon--caret-down {
				display: none;
			}

			.nav--dropdown>li>a,
			.nav--dropdown>li>span {
				font-size: 12px;
			}
		}

		.group--local {
			display: none;
		}
	}

	.control--select {
		font-size: 15px;
		text-transform: uppercase;
		line-height: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.ui__foot {

		.left,
		.right {
			flex: 0 1 auto;
		}

		.center {
			flex: 1 1 100%;
		}
	}

	.btn--ar {
		font-size: 13px;
	}

	.btn--cam,
	.btn--mic {
		display: none;
	}

	.btn--heart {
		margin: 0;
	}
}
